* {
    box-sizing: border-box;
    margin: 0;

}

body {
    font-family: "Roboto" , sans-serif;
    background-color: #ffffff;
}

/* Navigation*/
.nav-container {
    background: #ffffff;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.1);
    height: 72px;
}

.wrapper {
    width: 1000px;
    margin: 0 auto;

}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 72px;

}

nav ul {
    display: flex;
}

nav .logo {
    font-family: Poppins ;
    font-style: normal;
    font-weight: 900px;
    font-size: 64px;
    color: #926a15;
}

.nav-items li {
    list-style: none;
    margin-right: 80px;

}

.nav-items li a {
    color: #021718;
    font-size: 24px;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
}

/* header*/

.header-container {
    background: rgb(48, 48, 48) url("bgmain.jpg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    height: calc(100vh - 72px);
    display: flex;
    align-items: center;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    font-weight: 900;
    font-size: 64px;
    line-height: 75px;
    color: rgb(180, 42, 42);
    margin-bottom: 5px;

}

header p {
    font-size: 22px;
    line-height: 42px;
    color: rgb(255, 255, 255);
    margin-bottom: 30px;
    width: 418px;
}

header a {
    color: #ffffff;
    font-size: 24px;
    text-decoration: none;

    background: #189651;
    padding:14px 24px;
    border-radius: 10px;
}
